<div class="sidenav-wrapper">
  <div class="sidenav-start">
    <div class="sidenav">
      <a href="/dashboard/<%=recruiter[0].id%>">Home</a>
      <button class="dropdown-btn">Users
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <% for(let i = 0; i < user.length; i++) { %>
          <a href="/dashboard/<%=user[i].recruiters_id%>/user/<%=user[i].id%>"> <%=user[i].name%></a>
        <% }%>
      </div>
      <button class="dropdown-btn">Tests
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
           <% for(let i = 0; i < test.length; i++) { %>
          <a href="/dashboard/<%=user[i].recruiters_id%>/test/<%=test[i].id%>"> <%=test[i].name%></a>
        <% }%>
      </div>
      <a href="/dashboard/create/<%=recruiter.id%>">Create Test
        <i class="fa fa-plus"></i>
      </a>
    </div>
  </div>
  <div class="sidenav-end">
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#contact">Contact</a>
  </div>
</div>
