<div class="dash-item">
    <table class="table">
        <a href="/dashboard/create/<%=recruiter[0].id%>"><button type="button" class="btn purple-btn">Create Test</button></a>
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col"># of Questions</th>
            <th scope="col">Date Created</th>
            <th scope="col">Test Code</th>
            <th scope="col">Test Link</th>
          </tr>
        </thead>
        <tbody>
         <% for(let i =0; i < test.length; i++){%>
          <tr>
            <th scope="row"><%=test[i].name%></th>
            <td><%=test[i].total%></td>
            <td><%=test[i].created_at%></td>
            <td><%=test[i].code%></td>
            <td><a>http://localhost/</a></td>
          </tr>
        <% } %>
        </tbody>
      </table>
             <%if (result.length == 0) { %>
      <p>You don't have any Tests!</p>
        <% } %>
  </div>
