<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/main.css">
    <title>Doctors</title>
</head>

<body>
    <div class="container main-container-dashboard">
        <div class="d-flex justify-content-end">
            <a href="/logout">Doctor Logout</a>
        </div>
        <h1> Welcome Dr.
            <%= doctor[0].name%>
        </h1>
        <div class="">

            <div class="col-md-8 nav-container">
                <nav>
                    <div class="nav nav-border" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Confirmed Appointments</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Unconfirmed Appointments</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Completed Appointments</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <!-- Confirmed -->

                        <% for(let i = 0; i < confirmed.length; i++) { %>
                            <div class="row">
                                <div class="col-md-8">
                                    <h4>
                                        <%=confirmed[i].name%>
                                    </h4>
                                    <h5>
                                        <%=confirmed[i].reason%>
                                    </h5>
                                    <p>
                                        <%=confirmed[i].details%>
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <h4>
                                        <%=confirmed[i].date%>
                                    </h4>
                                    <a href="../patientConfirmed/<%=confirmed[i].patient_id%>" class="btn btn-primary">View</a>
                                </div>
                            </div>
                            <hr>
                            <% } %>

                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <!-- Unconfirmed -->

                        <% for(let i = 0; i < unconfirmed.length; i++) { %>
                            <div class="row">
                                <div class="col-md-8">
                                    <h4>
                                        <%=unconfirmed[i].name%>
                                    </h4>
                                    <h5>
                                        <%=unconfirmed[i].reason%>
                                    </h5>
                                    <p>
                                        <%=unconfirmed[i].details%>
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <h4>
                                        <%=unconfirmed[i].date%>
                                    </h4>
                                    <a href="../patientUncomplited/<%=unconfirmed[i].patient_id%>" class="btn btn-primary">View</a>
                                </div>
                            </div>
                            <hr>
                            <% } %>

                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <!-- Completed -->

                        <% for(let i = 0; i < complited.length; i++) { %>
                            <div class="row">
                                <div class="col-md-8">
                                    <h4>
                                        <%=complited[i].name%>
                                    </h4>
                                    <h5>
                                        <%=complited[i].reason%>
                                    </h5>
                                    <p>
                                        <%=complited[i].details%>
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <h4>
                                        <%=complited[i].date%>
                                    </h4>
                                    <a href="../patientComplited/<%=complited[i].patient_id%>" class="btn btn-primary">View</a>
                                </div>
                            </div>
                            <hr>
                            <% } %>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>