<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <style>
      h3 {
        color: white;
      }
      label {
        color: white;
      }
      #time {
        font-size: 30px;
      }
    </style>
    <title>Skill Test</title>
  </head>
  <body onLoad="noBack();" onpageshow="if (event.persisted) noBack();" onUnload="">
    <div class='main'>
      <div id="time">02:00</div>
      <div class='board user-form'>
        <h3><%=question[0].question%></h3>
        <form id='submit' method="post" action="/taketest/next/<%=test%>/<%=user[0].id%>/<%=question[0].id%>">
          <div class="form-group form-check">
            <input type="radio" name='response' class="form-check-input" value=<%=newArr[0][1]%> id="Check1">
            <label class="form-check-label" for="exampleCheck1"><%=question[0][newArr[0][0]]%></label>
          </div>
          <div class="form-group form-check">
            <input type="radio" name='response' value=<%=newArr[1][1]%> class="form-check-input" id="Check2">
            <label class="form-check-label" for="exampleCheck1"><%=question[0][newArr[1][0]]%></label>
          </div>
          <div class="form-group form-check">
            <input type="radio" name='response' value=<%=newArr[2][1]%> class="form-check-input" id="Check3">
            <label class="form-check-label" for="exampleCheck1"><%=question[0][newArr[2][0]]%></label>
          </div>
          <input class='btn' type="submit" value="submit">
        </form>
      </div>
    </div>
    <script type="text/javascript">
        window.history.forward();
        function noBack()
        {
            window.history.forward();
        }

        function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10)
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
            timer = duration;
        }
    }, 1000);
}

window.onload = function () {
    var fiveMinutes = 60 * 2,
        display = document.querySelector('#time');
    startTimer(fiveMinutes, display);
};



</script>
  </body>
</html>
